@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons {
    display: flex;
    justify-content: center;

}

button {
    border: none;
    font-size: 3rem;
    margin: 0 .5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: red;
}

#paper {
    background-color: blue;
}

#scissors {
    background-color: green;
}

#user-score {
    color: rgb(10, 193, 10);
}

#computer-score {
    color: red;
}

#result {
    font-size: 24px;
    font-weight: bold;
}